.container-hotel{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 250px;
    background:white;
    width: 1250px;
    margin: 10px auto;
   
}
.htImg{
    width: 300px;
    height: 250px;
}
.Hotel-details{
    text-align: left;
    width: 550px;
    
}

.Simple-Map{
    height: 250px;
    width: 250px;
    float: right;
   
    
    
}
.hotelimg-container{
    
    
    width: 300px;
    height: 250px;
   
}
.container-hotel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }

.fa-star{
    color:yellow;
}
.search-bar{
    width: 1500px;   
   text-align: center;
   padding-left: 70px;
 
}






body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e3e3e3;
  }
  
  .search .form-section{
      background:rgba(0,0,0,0.6);
      border: 2px solid #414141;
      border-radius: 5px;
      padding: 10px;
  }