.container-hotel{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background:white;
    
}
.htImg{
    width: 300px;
    height: 250px;
}
.Hotel-details{
    text-align: left;
    margin-top: -250px;
    margin-left: 370px;
    
}
.Map-hotel{
    text-align: right;
    margin-top:-210px;
    padding: 5px;
}
.hotelimg-container{
    padding: 10px;
}
.container-hotel:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.fa-star{
    color:yellow;
}
.search-bar{
    width: 1500px;   
   text-align: center;
   padding-left: 70px;
}
.Hotel-Names{
    text-align: center;
    margin-left: 350px;
    margin-top: -38px;
    
}
.Stars-number{
    margin-left: 550px;
    margin-top:-37px;
    
}





body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e3e3e3;
  }
  
  .search .form-section{
      background:rgba(0,0,0,0.6);
      border: 2px solid #414141;
      border-radius: 5px;
      padding: 10px;
  }