.card-img{
    height: 150px;
    width: 100%;
}
.container-swip{
    width: 270px;
    height: 280px;
    -webkit-box-shadow: 9px 5px 16px 0px rgba(51, 50, 50, 0.75);
-moz-box-shadow:    9px 5px 16px 0px rgba(51, 50, 50, 0.75);
box-shadow:         9px 5px 16px 0px rgba(51, 50, 50, 0.75);
align-content: center;
margin: 20px;
padding: 5px;
}
.card:hover{
    transform: scale(1.1,1.1);
}
.btn{
    width: 100px;
}
.swipper-title{
    text-align: center;
}