.card-img{
    height: 120px;
    width: 50px;
}
.container-swip{
    width: 270px;
    height: 250px;
    -webkit-box-shadow: 9px 5px 16px 0px rgba(51, 50, 50, 0.75);
-moz-box-shadow:    9px 5px 16px 0px rgba(51, 50, 50, 0.75);
box-shadow:         9px 5px 16px 0px rgba(51, 50, 50, 0.75);
align-content: center;
margin: 20px;
padding: 5px;
}
.card:hover{
    transform: scale(1.1,1.1);
}
.button{
    width: 100px;
}