.avatar{
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-bottom: 50px;
    margin-left: 90px;
}
.container-swip{
    -webkit-box-shadow: 9px 5px 16px 0px rgba(51, 50, 50, 0.75);
-moz-box-shadow:    9px 5px 16px 0px rgba(51, 50, 50, 0.75);
box-shadow:         9px 5px 16px 0px rgba(51, 50, 50, 0.75);
align-content: center;
margin: 20px;
padding: 5px;
}
.card:hover{
    transform: scale(1.1,1.1);
}
.container-swip.btn{
    width: 100px;
}
.title3-heading{
    background-color: #fff;
    margin: 30px auto;
    padding: 0 15px;
    color: #e94a35;
    text-align: center;


}
.borerbox{
    border: solid 1px #eae8e8;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    transition: all .8s;
    padding: 0 2px;
}
.btn-outline-dangerbtn{
  margin: 20px;
  width: 190px;
}
.br{
    border-bottom: 1px solid #666;
    display: block;
    width: 100%;
    margin:-30px 0px 20px;
}
.card-wrapper:hover{
    transform: scale(1.05,1.05);
}
.card-wrapper{
    width: 240.25px;
    flex-shrink: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    background: no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    transition-property: transform;
}
.container-log{
    position: unset;
    padding-top: 3px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    

}
.logBook{
    margin: 20px 0 0;
    padding: 9px 33px 11px 0;
    max-width: 100%;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

}


/*--------------------------------------------------------------
# swipper Tags
--------------------------------------------------------------*/

.swipper {
    margin-top: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    text-align: center;

} 

